@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signinManager;
@if (this.signinManager.IsSignedIn(User))
{
    <form asp-action="Create" asp-controller="Actor">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Create new Actor</h2>

                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="actorNameInput">Actor Name</label>
                                    <input type="text" id="actorNameInput" class="form-control form-control-lg" name="actor.name" />
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="actorNationalityInput">Actor Nationality</label>
                                    <input type="number" id="actorNationalityInput" class="form-control form-control-lg" name="actor.nationality" />
                                </div>                          
                                <label class="form-label">Status</label>
                                <select class="form-outline custom-select form-white mb-4" aria-label="Default select example" name="actor.status">
                                    <option selected value="">Select status</option>
                                    <option value="true">Active</option>
                                    <option value="false">Not Active</option>
                                </select>
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="birthday">Birthday</label>
                                    <input type="text" id="birthday" class="form-control form-control-lg" name="birthday" />
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Create</button>
                                <button class="btn btn-outline-light btn-lg px-5" asp-action="Index" asp-controller="Actor">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>Login to create a post</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
}
